@model IEnumerable<CrudMVC5Persona.Models.Persona>
@{
    ViewBag.Title = "Index";
}

<h2>Listar de Persona</h2>
<div class="row">
    <a href="/Persona/Registrar" class="btn btn-default">Nueva Persona</a>
</div>
<br />
<div class="row">
    <div class="row">
        <table class="table table-hover">
            <thead style="background:#0c8ceb;">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">APELLIDOS Y NOMBRES </th>
                    <th scope="col">SEXO</th>
                    <th scope="col">EDAD</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">CORREO</th>
                    <th scope="col">DIRECCION</th>
                    <th scope="col">MANTENIMIENTO</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            @item.ID_PERSONA
                        </th>
                        <td>
                            @item.APELLIDOP @item.APELLIDOM, @item.NOMBRES
                        </td>
                        <td>
                            @item.SEXO
                        </td>
                        <td>
                            @item.EDAD
                        </td>
                        <td>
                            @item.TELEFONO
                        </td>
                        <td>
                            @item.CORREO
                        </td>
                        <td>
                            @item.DIRECCION
                        </td>
                        <td>
                            <a href="/Persona/Actualizar?id=@item.ID_PERSONA" class="btn btn-success"><span class="glyphicon glyphicon-wrench"></span> Actualizar</a> |
                            <a  href="#" class="btn btn-danger" data-href="/Persona/Eliminar?id=@item.ID_PERSONA" data-toggle="modal" data-target="#confirma-eliminar"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>
@*============================modal de confirmacion==========================*@
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirma-eliminar">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="confirma-eliminar" tabindex="-1" role="dialog" aria-labelledby="MiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px; height:50px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5><b>Eliminar Registro?</b></h5> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger btn-Aceptar">Eliminar</a>
                 
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirma-eliminar').on('show.bs.modal', function (e) {
        $(this).find('.btn-Aceptar').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
